* {
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.top{
    height: 735px;
    background-image: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.top_title{ /*Всё, чего заслуживает ваш дом*/
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    max-width: 792px;
}
.top-cat{
    height: 400px;
    background-image: url(img/cat-head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    height: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header-cat{
    height: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    gap: 32px;
}
.cat-menu{
    width: 229px;
    height: 32px;
    display: flex;
    gap: 10px;
}
.menu_link{
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.menu_link:hover{
    text-decoration: underline;
}
.menu-mob{
    display: none;
}

.top_text { /*Наша мебель — ваше отражение*/
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;

}
.header_input{
    width: 228px;
    height: 41px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    background-color:transparent;
    outline: none;
    font-weight: normal;
    line-height:20px;
    color: #FFFFFF;
    padding-left: 36px;
    padding-right: 36px;
}
.header_input::placeholder{
    color: #FFFFFF;
}
.a-cat{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    &:hover{
        text-decoration:underline;
    }
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    gap: 10px;
}
.catalog_link{
    text-decoration: none;
    color: #000;
    &:hover{
        text-decoration: underline;
    }
}
.catalog_link:first-child::after{
    content:" /";
}
.for-box{
    padding-top: 64px;
}

.heading { /*Мебель для*/
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-top: 44px;
    margin-bottom: 32px;
}

.for{
    margin-bottom: 32px;
    display: grid;
    gap:32px;
    grid-template-columns: repeat(12, 1fr);
}
.for_item{
    height: 415px;
    grid-column:span 4;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.for_item_big{
    grid-column: span 6;
}
.for_item_1{
    background-image: url(img/for1.jpg);
}
.for_item_2{
    background-image: url(img/for2.jpg);
}
.for_item_3{
    background-image: url(img/for3.jpg);
}
.for_item_4{
    background-image: url(img/for4.jpg);
}
.for_item_5{
    background-image: url(img/for5.jpg);
}

.title { /*Специальные предложения*/
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}
.product_box{
    padding-top: 64px;
}

.product-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: 100%;
    max-width: 378px;
    display:flex;
    flex-direction: column;
    margin-top: 32px;
    transition: all 0.3s;
    padding: 16px;
    box-sizing: border-box;
    }
    .product:hover{
        transform: scale(1.05);
        box-shadow: 0 0 5px #ccc;
    }

.product_img{
    width: 100%;
}
.product_name{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
}

.text{
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
.product_box-price{
    display:flex;
    gap: 32px;
}

.price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.price::after{
    content:" руб."
}
.oldprice{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}
.oldprice::after{
    content:" руб."
}
.catalog_tovarov{
    width: 391px;
    display:flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
    flex-wrap: wrap;
    }
    .catalog_select{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #C4C4C4;
        border-radius: 20px;
        width: 288px;
        height: 41px;
        padding-left: 14px;
        padding-right: 14px;
    }
.link-box{
    font-weight: 400;
    text-decoration-line: underline;
    color: #000000;
    height: 58px;
    margin-top: 41px;
    margin-bottom: 34px;
}
.a-catf{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000;
    &:hover{
        color:#888888
    }

}
.footer{
    background-color: #F7F6F6;
    height: 207px;
}
.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_logo{
    height: 130px;
    margin-top: 32px;
}
/*.img-flogo{
    padding-left: 25px;
    padding-top: 9px;
    }*/

.footer-nav{
    display: flex;
    flex-direction: column;
}
.nav-footer_item{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    }
.footer_heading{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 32px;
}

.a-foot{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    cursor: pointer;
    margin-top: 12px;
        &:hover{
            text-decoration: underline;
            color: #000;
        }
    }



.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-top: 12px;
    &:hover{
        color: #000;
        text-decoration: underline;
    }
    }
.footer_icons{
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    color:#888888;

    }
    .footer__icon path{
        transition: fill 0.03s;
    }
    .footer__icon:hover path{
        fill:#000;
    }
.footer-form{
    padding-top: 7px;
    }
.form-sub{
    display: flex;
    flex-direction: column;
    }

.sub{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 32px;
}

.footer_input{
    width: 268px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    padding-left: 25px;
    padding-right: 25px;
}
.footer_btn{
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 268px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-top: 12px;
    &:hover{
        background-color: #000;
        color:#FFFFFF;
    }
    }
.footer_input::placeholder{
    color: #C4C4C4;
}

@import 'cart';
@import 'tablet';
@import 'mobile';